:root {
  --cyan: #5fb4a2;
  --dark-blue: #203a4c;
  --grayish-dark-blue: #33323d;

  --grey-1: #fafafa;
  --grey-2: #eaeaeb;
  --red: #f43030;

  --global-padding-inline: 2rem;
}

* {
  font-family: var(--font-public-sans), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

html,
body {
  height: 100%;
}

button {
  &:hover {
    cursor: pointer;
  }
}
