@use "../../styles/font-mixins" as font-mixins;

@mixin field-label {
  @include font-mixins.set-paragraph-large;
  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--grayish-dark-blue);
  margin-bottom: 0.5rem;
}

@mixin field-input {
  @include field-label;
  margin-bottom: 0;
  font-weight: 400;
  &:focus {
    outline: solid 1px var(--dark-blue);
  }
}

@mixin horizontal-bar {
  content: "";
  display: block;
  height: 1px;
  background-color: color-mix(
    in srgb,
    var(--grayish-dark-blue) 15%,
    transparent
  );
  margin-bottom: 1.5rem;
}

.contact {
  &__heading {
    display: none;
  }

  &__section {
    margin-bottom: 2rem;

    &::before {
      @include horizontal-bar;
    }

    &__title {
      @include font-mixins.set-title-large;
      margin-bottom: 1.5rem;
    }

    &__paragraph {
      @include font-mixins.set-paragraph-large;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &::before {
      @include horizontal-bar;
      margin-bottom: 2rem;
    }

    &__title {
      @include font-mixins.set-title-large;
    }

    &__field {
      display: block;
      &__label {
        @include field-label;
      }

      &__input {
        @include field-input;

        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 9px 1rem;
        background-color: color-mix(
          in srgb,
          var(--grayish-dark-blue) 10%,
          transparent
        );

        &::placeholder {
          opacity: 40%;
        }

        &--textarea {
          min-height: 6rem;
        }
      }
    }

    &__btn {
      @include font-mixins.set-button-content;
      background-color: var(--dark-blue);
      color: var(--white);
      align-self: flex-start;
      padding: 17px 1.5rem;

      &:hover {
        outline: solid 1px var(--dark-blue);
        color: var(--dark-blue);
        background-color: var(--white);
      }
    }
  }
}

@media screen and (min-width: 48rem) {
  .contact {
    &__section {
      &::before {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (min-width: 90rem) {
  .contact {
    &__section,
    &__form {
      display: grid;
      align-items: flex-start;
      column-gap: 7.8125rem;
      grid-template-columns: 21.875rem auto;
      grid-template-rows: repeat(4, auto);
      &::before {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        margin-bottom: 3rem;
      }

      &__title {
        grid-row: 2 / -1;
      }
    }
    &__form {
      &::before {
        margin-bottom: 1.5rem;
      }

      &__btn {
        grid-column: 2 / -1;
        width: fit-content;
      }
    }
  }
}
