.header {
  --header-padding-top: 2rem;

  padding-top: var(--header-padding-top);
  padding-inline: var(--global-padding-inline);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__home-link {
    display: inline-block;

    &__img {
      vertical-align: top;
    }
  }

  &__nav {
    display: block;
    position: relative;
    &__list {
      display: none;
      flex-direction: column;
      gap: 2rem;
      background-color: var(--grayish-dark-blue);
      min-width: 223px;
      padding-block: 2.5rem;

      &.open {
        display: flex;
        position: absolute;
        top: calc(100% + 1.5rem);
        right: 0;
        animation: show-up 0.3s ease-in-out;
        transform-origin: top;
      }

      &__item {
        text-align: center;
        color: var(--white);
        &--active {
          color: var(--cyan);
        }
        a {
          display: block;
          color: inherit;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.125rem;
          font-weight: 400;
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media screen and (min-width: 48rem) {
  .header {
    --header-padding-top: 4rem;
    &__nav {
      &__list {
        position: static;
        display: flex;
        flex-direction: unset;
        background-color: unset;
        padding-block: 0;
        &.open {
          position: static;
          animation: none;
        }
        &__item {
          color: var(--grayish-dark-blue);
          &--active {
            color: var(--cyan);
          }
        }
      }
    }
  }
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
