@use "../mixin" as *;

.footer {
  background-color: var(--grayish-dark-blue);
  padding-block: 3.5rem;
  padding-inline: var(--global-padding-inline);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  text-align: center;
  &__home-link {
    display: inline-block;

    &__img {
      vertical-align: top;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column; 
    gap: 2.5rem;
    &__internal-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      list-style-type: none;
      &__item {
        color: var(--white);
        a {
          @include internal-link-style();
        }
      }
    }

    &__external-list {
      display: flex;
      justify-content: center;
      gap: 1rem;
      list-style-type: none;
      &__item {
        color: var(--white);
        a {
          @include internal-link-style();
        }
      }
    }
  }
}

@media screen and (min-width: 48rem) {
  .footer {
    padding-block: 1.5rem;
    flex-direction: unset;
    gap: 3rem;
    &__nav {
      flex: 1;
      flex-direction: unset;
      justify-content: space-between;
      align-items: center;
      &__internal-list {
        flex-direction: unset;
        gap: 2.625rem;
      }
    }
  }
}
