:root {
  --cyan: #5fb4a2;
  --dark-blue: #203a4c;
  --grayish-dark-blue: #33323d;

  --grey-1: #fafafa;
  --grey-2: #eaeaeb;
  --white: #fff;
  --red: #f43030;

  --global-padding-inline: 2rem;
}

* {
  font-family: var(--font-public-sans), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  list-style-type: none;
  transition: 0.3s;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 125rem;
  justify-self: center;
}

button {
  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 48rem) {
  :root {
    --global-padding-inline: 2.5rem;
  }
}

@media screen and (min-width: 90rem) {
  :root {
    --global-padding-inline: 10.25rem;
  }
}
